@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Inter&family=Lora&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #534431;
  width: 100%;
  height: 100vh;
  padding: 3% 3.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.default {
  background: radial-gradient(#f6f3e3, #ede6c7); }

.heading__primary {
  font-family: 'Lora', serif;
  font-size: 8.6rem;
  color: #bb3647;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.6rem; }

.btn__cta {
  display: inline-block;
  text-decoration: none;
  width: 16rem;
  font-size: 2rem;
  text-align: center;
  color: #ede6c7;
  border: 2px solid #bb3647;
  background: #bb3647;
  border-radius: 10px;
  padding: 1.6rem 1.2rem;
  transition: all 0.3s; }
  .btn__cta:hover, .btn__cta:active {
    color: #bb3647;
    background: transparent; }
  .btn__cta--outline {
    color: #bb3647;
    background: transparent; }
    .btn__cta--outline:hover, .btn__cta--outline:active {
      color: #ede6c7;
      background: #bb3647; }

.copyright {
  position: absolute;
  bottom: 2%;
  right: 2%;
  color: #ede6c7;
  font-size: 1.2rem; }

.header {
  display: flex;
  gap: 15rem; }
  .header .logo {
    width: 23%;
    height: 100%;
    display: block; }

.main {
  display: flex;
  height: calc(100% - 12% - 2.5% * 2);
  align-items: center; }

.main-nav {
  display: flex;
  justify-content: center;
  width: 8%;
  height: 88%; }
  .main-nav__list {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 15%;
    text-align: center;
    font-size: 1.6rem;
    border-right: 1px solid #a0886a;
    padding: 0 2.4rem; }
    .main-nav__list li {
      transform: rotate(-90deg);
      color: #a0886a; }
      .main-nav__list li a {
        cursor: pointer;
        transition: all 0.3s; }
        .main-nav__list li a:hover, .main-nav__list li a:active {
          color: #534431;
          position: relative; }
          .main-nav__list li a:hover::after, .main-nav__list li a:active::after {
            content: '';
            display: block;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            background: rgba(84, 69, 49, 0.8);
            position: absolute;
            top: 300%;
            right: 50%;
            transform: translateX(50%); }

.hero {
  padding-left: 8%; }
  .hero__frame {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background: #df6c71;
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.2); }
  .hero__img {
    position: absolute;
    width: 35%;
    right: 10%; }
  .hero__line {
    position: absolute;
    font-family: 'Caveat', cursive;
    color: #ede6c7;
    font-size: 3rem;
    top: 10%;
    right: 5%; }
  .hero__arrow {
    position: absolute;
    top: 15%;
    right: 20%; }
  .hero .btn__box {
    display: flex;
    gap: 2.4rem;
    margin: 5rem 0; }

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 3.6rem; }
